/* Styles applied to the entire document/body */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #d9dcd6;
  margin: 0px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: gray;
}

section {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}

section h2 {
  font-size: 36px;
  margin-right: 25px;
  margin-bottom: 15px;
}

/* Styles applied to the header and footer */
header,
footer {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  margin-left: 25px;
}

header h1 {
  display: inline-block;
  font-size: 200%;
}

nav {
  float: right;
  padding-top: 15px;
  margin-right: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 120%;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* About Me section styles */
#about-me {
  flex: 1 0 0;
  flex-direction: column;
}

#about-me h2 {
  margin-top: 10px;
}

#about-me p {
  font-size: 18px;
  width: 80%;
}

/* Styles applied to the profile picture in the top right corner */
#profile-pic {
  border-radius: 50%;
  margin: 20px 20px 0px 0px;
  width: 150px;
}

/* Styles applied to the Previous Work section */
#previous-work {
  flex: 1 0 50%;
  justify-content: center;
}

#previous-work h2 h2 {
  margin-right: auto;
}

#previous-work div {
  margin-left: 7%;
}

#previous-work img {
  width: 40%;
  vertical-align: middle;
  animation: shrink 0.3s;
  margin-top: 25px;
}

#previous-work img:nth-child(odd) {
  margin-right: 25px;
}

#previous-work img:hover {
  width: 45%;
  animation: enlarge 0.3s;
}

/* Styles for the Contact Me page */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #2a607c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #2a617ca8;
}

#contact-me .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Animations for the Previous Work section's images */
@keyframes enlarge {
  0% {
    width: 40%;
  }
  100% {
    width: 45%;
  }
}

@keyframes shrink {
  0% {
    width: 45%;
  }
  100% {
    width: 40%;
  }
}

/* For mobile phone users */
@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  #first-nav {
    margin-left: 0px;
  }

  #previous-work div {
    margin-left: 12%;
  }
}
